#app {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $fontColor;
  margin-top: 60px;
}

a {
  color: $brandColor;
  text-decoration: none;

  &:hover {
    color: $brandColor;
  }
}
h1,
h2,
p {
  margin: 0;
  padding: 0;
  font-style: normal;
}


// Sets up some global button patterns for the app. This is something that could be refined more in a larger app
// with fixed button styles and sizes.
.brand-button,
.brand-button {
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: 12px;

  &.dark {
    background: rgba(64, 64, 64, 0.5);
  }
  &.light {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

// Basic row styles
.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

// Overlay helper
.overlay {
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.9;
  }
}
